/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.centered-text {
    text-align:center;
}

.topBar {
    width: 100%;
    background-color: #1676F3;
}

.topBarButton {
    color: white;
    background-color: #0F4B96;
    margin-left: 1%;
    margin-right: 0%
}

